[user]
    email = szczygiel.p@gmail.com
    name = Piotr Szczygieł

[apply]
    whitespace = warn

[core]
    editor = nvim
    autocrlf = input
    pager = delta

[push]
    default = simple

[pull]
    rebase = false

[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"

[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig-work

[interactive]
    diffFilter = delta --color-only

[delta]
    features = line-numbers decorations

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
