[user]
    email = szczygiel.p@gmail.com
    name = Piotr Szczygieł
[apply]
    whitespace = warn
[core]
    editor = nvim
    autocrlf = input
    pager = diff-so-fancy | less --tabs=4 -RFX
[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"
[push]
    default = simple

